@import "../../../_variables";

.back-btn {
  margin-left: 20px;
  margin-top: 30px;
  background: transparent;
  .fa-arrow-left {
    color: $gray;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
